<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Our Site</title>       
        
    </head>
    <body>
        <header>
            <h1>Welcome to EctoLab</h1>
        </header>
        
        <main>
            <p>Thank you for visiting EctoLab site. We hope you find what you're looking for!</p>
            <p>Feel free to explore our content and reach out if you have any questions.</p>
        </main>

        <footer>
            <p>&copy; 2025 EctoLab. All rights reserved. Current time in Berlin: {{today}}</p>
        </footer>

    </body>
</html>
